body {
	font-size: 17px;
	font-family: 'Josefin Sans', sans-serif;
}
a {
	text-decoration: none;
	color: #22DA3A;
	font-weight: bold;

/*NAVIGATION STYLING STARTS HERE*/		
}
.toptitle {
	float:left;
    height: 70px;
    font-size:1.3em;
    color: #fff;
    padding-left: 3em;
    font-size: 20px;
}

nav {
	width: 100%;
    height: 70px;
    color:#fff;
    background-color: rgba(34, 218, 58, 0.7);
    border-bottom: 2px solid #ccc;
    position: fixed;
    top:0;
    left:0;	
    opacity: 0.5px;
}

nav ul {
	float: right;
	text-decoration: none;
	padding: 20px;
	margin: 20px;
}

nav li{
	display: inline-block;
}

nav a{
	text-decoration: none;
	color: #fff;
	padding: 12px;
	font-size: 1.2em;
}

nav a:hover{
	color: #ABABAB;
}

/*FORM STARTS*/
/*INPUT TEXT STYLING HERE*/
input[type="text"]{
    font-size: 1.5em;
    width: 300px;
    text-align: center;
    padding: 5px;
    border-radius: 9px;
    border: 1px solid;
    margin-bottom: 20px;
    font-size: 17px;
}

#contact-form{
	border: 1px solid #ccc;
	max-width: 400px;
	min-width: 150px;
	text-align: center;
	display: block;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 30px;
	margin-bottom: 20px;
}

textarea {
	height: 250px;
	width: 300px;
}

#form-submit {
	width: 75px;
 	height: 30px;
 	border-radius: 6px;
 	background-color:#ccc;
 	color: #000;
 	font-size: 15px; 
}
/*FORM ENDS*/


h2 {/*CONTACT US*/
	text-align: center;
	padding-top: 50px;
	font-size: 30px;
	margin-right: px;
}

p {
	text-align: center;
	padding-top: 90px;
	padding-left: 50px;
	overflow: auto;
}

iframe {
	padding-left: 32%; 
	padding-bottom: 20px;
}
.maptop {

text-align: center;
}

footer {
	width: 100%;
	height: 100%;
	color: #fff;
	font-size: .7em;
	background-color: #22DA3A;
	border-top: 1px solid #ccc;
	text-align: center;
	padding-top: 5px;
	padding-bottom: none;
	clear: none;
	float: left;
}

.social li {
	display: inline;
	text-decoration: none;
	font-size: 30px;
}
 .social p {
 	padding: 0;
 }
